[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=HOME=/home/mushfiq
Type=simple
ExecStart=/usr/local/bin/kanata_cmd_allowed --cfg /home/mushfiq/.config/Kanata/kanata-linux.kbd
Restart=no

[Install]
WantedBy=default.target
